        body {
            margin: 0;
            font-family: 'Cascadia Code', monospace;
            background: #f4f4f4;
        }


        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 40px;
            background: #0a2153;
            color: #ffffff;
        }

        .hero {
            background: url('imagenes/hero-img.png') no-repeat center center/cover ;
            height: 85vh;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            text-align: center;
            padding: 0 20px;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        .logo img {
            height: 40px;
            margin-right: 10px;
            object-fit: contain;
        }
        
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }
        nav li {
            position: relative;
        }
        nav a {
            display: block;
            padding: 15px 20px;
            color: #fff;
            text-decoration: none;
        }
        nav a:hover {
            background: #70708c;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: rgba(10, 33, 83, 0.9);
            min-width: 150px;
            z-index: 1000;
        }
        .dropdown-content li a {
            padding: 10px 15px;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropdown-content:hover {
            display: block;
        }

        .hero-button {
            display: inline-block;
            margin-top: 20px;
            padding: 14px 22px;
            background: #05468c;
            color: #fff;
            text-decoration: none;
            border-radius: 50px;
            border: 4px solid transparent;

        }

        .hero-button:hover {
            background: transparent;
            border: 4px solid #05468c;
        }

        /*row*/
.row {
    display: flex;
    gap: 40px;
    padding: 80px 10%;
    background-color: #f8f9fa;
}

.main {
    flex: 2;
    line-height: 30px;
}

.side {
    flex: 1;
    background: #0f172a;
    color: white;
    padding: 30px;
    border-radius: 12px;
}

.side h3 {
    margin-bottom: 15px;
}

.side ul {
    list-style: none;
    padding: 0;
}

.side li {
    margin-bottom: 12px;
}


/*featureee*/
.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 80px 10%;
    background-color: white;
}

.feature {
    background: #ffffff;
    padding: 40px 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    text-align: center;
    transition: 0.3s ease;
    flex: 1;
}

.feature:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}

.feature h2 {
    margin-bottom: 15px;
}

.feature p {
    margin-bottom: 20px;
    color: #555;
}

/* ===== BOTONES ===== */
button {
    background: #0f172a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #c9a227;
}

/*cta banner*/
.cta {
    text-align: center;
    padding: 40px 10%;
    background: #0f172a;
    color: white;
}

.cta h2 {
    margin-bottom: 15px;
}

.cta button {
    margin-top: 30px;
    background: #fbc259;
}

.cta button a {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.cta button:hover {
    background: #d39d1e;
}

        footer {
            background: #0a2153;
            color: #fff;
            text-align: center;
            padding: 20px;
        }

        footer a {
            color: #fff;
            text-decoration: none;
        }
        footer a:hover {
            color: #aac;
            text-decoration: underline;
        }

        @media (max-width: 768px) {
            .main {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .side {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

/*contact*/

        .contact-section {
    display: flex;
    min-height: 650px;
    background: #ffffff;
}

/* LEFT SIDE MAP */
.contact-map {
    flex: 1;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* RIGHT SIDE CONTENT */
.contact-content {
    flex: 1;
    background: #e5e5e5;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Small label */
.contact-tag {
    display: inline-block;
    background: #4f6889;
    color: white;
    padding: 6px 14px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact-content h2 {
    font-size: 40px;
    margin-bottom: 40px;
    color: #222;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.contact-content input,
.contact-content textarea {
    width: 100%;
    padding: 14px;
    border: none;
    background: #f3ecea;
    font-size: 15px;
    margin-bottom: 20px;
}

.contact-content textarea {
    height: 150px;
    resize: none;
}

/* Button */
.contact-content button {
    background: #7187a4;
    color: white;
    padding: 14px 28px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.contact-content button:hover {
    background: #515c81;
}

@media (max-width: 992px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-content {
        padding: 50px 30px;
    }

    .form-row {
        flex-direction: column;
    }
}

/*Sobre nosotros*/

.about {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    background: #f4f4f4;
}

.about-container {
    max-width: 900px;
    margin: auto;
}

.about h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.about h2 {
    margin-top: 40px;
    color: #0a2153;
}

.about p {
    color: #555;
    line-height: 1.8;
    margin-bottom: 20px;
}

.about-section {
    background: #f4f4f4;
    padding: 40px;
    border-radius: 16px;
    margin-bottom: 40px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
}

.about h2 {
    position: relative;
    margin-bottom: 20px;
}

.about h2::after {
    content: "";
    width: 70px;
    height: 4px;
    background: #dc903a;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 2px;
}

/*Stats seccion 🗣️*/

.stats {
    display: flex;
    justify-content: space-around;
    padding: 60px 20px;
    background: #f4f4f4;
    text-align: center;
}

.stat h3 {
    font-size: 40px;
    color: #0a2153;
}

/*por que elegirnos - tarjetas*/


.mision-valores {
  padding: 50px 20px;
  background: #f4f4f4;
  text-align: center;
}

.titulo-seccion {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #1E3A5F;
}

.titulo-seccion {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1E3A5F;
  margin-bottom: 55px;
  margin-top: 0px;
  position: relative;
}

.titulo-seccion::after {
  content: "";
  width: 160px;
  height: 4px;
  background: #C9A227;
  display: block;
  margin: 15px auto 0;
  border-radius: 2px;
}

.contenedor-cajas {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.caja {
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.caja:hover {
  transform: translateY(-10px);
}


.caja-superior {
  padding: 30px;
  color: white;
}

/* Parte inferior */
.caja-inferior {
  padding: 25px;
  background: rgb(255, 255, 255);
  text-align: left;
}

.mision .caja-superior {
  background: linear-gradient(135deg, #270d84, #526cf0);
}

.valores .caja-superior {
  background: linear-gradient(135deg, #526cf0, #210d84);
}

.valores ul {
  list-style: none;
  padding: 0;
}

.valores li {
  margin-bottom: 10px;
}

/*servicios generales*/

.service-block {
    padding: 80px 20px;
    text-align: center;
}

.service-block h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #0a2153;
}

.service-intro {
    max-width: 700px;
    margin: 0 auto 40px auto;
    color: #555;
}

.service-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.service-card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 280px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.06);
    transition: 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card h3 {
    margin-bottom: 15px;
    color: #eab12c;
}

.service-block:nth-child(even) {
    background: #f4f4f4;
}

/*galeria*/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 40px 0;
}

.gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.4s ease;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.05);
}